<h1>トップページ</h1>
<h1>welcome to <i class="fa-solid fa-book"></i><strong>Bookers!!</strong></h1>
<p>In<strong>Bookers,</strong></p>
<p>you can share and exchange your opinions , inpressions , and emotions</p>
<p>about various books!</p>

<div>
  <a href="/users/sign_in">Log in</a>
</div>

<div>
  <a href="/users/sign_up">Sign up</a>
</div>
